<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Erreur Sauvage</title>
</head>
<body>
    <h1>OH NON !!! UNE ERREUR SAUVAGE APPARAIT !!!</h1>
    <h2><%= message %></h2>
    <h3><%= error.status %></h3>
    <pre><%= error.stack %></pre>
</body>
</html>
